<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des cartes</title>
    <style>
        li {
            display: inline;
            list-style-type: none;
        }

        li + li:before {
            content: " • ";
        }
    </style>
</head>
<body>
<section>
    <h3>Paris au complet</h3>
    <p>Cette carte inclut l'ensemble des bureaux parisiens. Elle est trop lourde pour l'utilisation sur portable.</p>
    <ul>
        <li><a href="75-complet/">Paris au complet</a></li>
    </ul>
</section>

<section>
    <h3>Par arrondissement</h3>
    <p>Ces cartes proposent des vues par arrondissement.</p>
    <ul>
        {% for i in range(1, 21) %}
            <li><a href="{{ "75A%02d/" |format(i) }}">{% if i == 1 %}1er{% else %}{{ i }}e{% endif %}</a></li>
        {% endfor %}
    </ul>
</section>

<section>
    <h3>Par circonscription législative</h3>
    <p>Il s'agit des circonscriptions électorales utilisées pour les élections législatives.</p>
    <ul>
        {% for i in range(1, 19) %}
            <li><a href="{{ "75C%02d/" |format(i) }}">{% if i == 1 %}1ère{% else %}{{ i }}e{% endif %}</a></li>
        {% endfor %}
    </ul>
</section>
</body>
</html>