
.bureaux path {
    fill-opacity: .7;
    pointer-events: all !important;
}

.bureaux.selected path{
    stroke: black;
    stroke-width: 2;
}

.centroids text {
    font-size: 1px;
    fill: white;
    stroke: black;
    stroke-width: 0.02;
    font-weight: bold;
}
