.selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60px;
    max-width: 600px;
}

.selector .option {
    padding: 19px 0;
}

.selector .option input[type='radio'] {
    display: none;
}

.selector .option label {
    border-radius: 5px;
    background: #c9462c;
    border: 1px solid white;
    padding: 19px 15px;
    margin: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: all 200ms;
}

.selector .option label:hover{
	background: #b43f27;
}

.selector .option input[type='radio']:checked + label {
    background: #9f3723;
}
