.selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.selector .option input[type='radio'] {
    display: none;
}

.selector .option label {
    display: block;
    border-radius: 5px;
    background: #c9462c;
    border: 1px solid white;
    padding: 8px 5px;
    margin: 2px;
    cursor: pointer;
    color: #ffffff;
    transition: all 200ms;
}

.selector .option label:hover{
	background: #b43f27;
}

.selector .option input[type='radio']:checked + label {
    background: #9f3723;
}
